{% extends "auth_base.html" %}
{% load static %}
{% load humanize %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    
    <section class="dashboard-section body-collapse">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="row">
                    <div class="col-xl-11 col-lg-11">
                        <div class="section-content">

                            <div class="transactions-popup">
                                <div class="container-fruid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header justify-content-between">
                                                            <h5>{% translate "Transaction Details" %}</h5>
                                                            <a href=""><i class="material-symbols-outlined">{% translate "Arrow Back" %}</i></a>
                                                        </div>
                                                        <div class="main-content">
                                                            <div class="row">
                                                                <div class="col-sm-5 text-center">
                                                                    <div class="icon-area">
                                                                    </div>
                                                                    <div class="text-area">
                                                                        {% comment %} <h6 class="mt-2">{% translate "Sender" %} : {{transaction.sender.kyc.full_name|title}}</h6>
                                                                        <br>
                                                                        <h6 class="mt-2">{% translate "Reciever" %} : {{transaction.reciever.kyc.full_name|title}}</h6>
                                                                        <br> {% endcomment %}
                                                                        <h5><b>{{transaction.amount|intcomma}} $</b></h5>
                                                                        <p>{{transaction.date}}</p>

                                                                        <p> 
                                                                            {% if transaction.status == 'completed' %}
                                                                                <p class="text-success" style="color: #28a745; font-weight: bold;">{{ transaction.status|title }}</p>
                                                                            {% elif transaction.status == 'pending' %}
                                                                                <p class="text-warning" style="color: #f39c12; font-weight: bold;">{{ transaction.status|title }}</p>
                                                                            {% elif transaction.status == 'failed' %}
                                                                                <p class="text-danger" style="color: #e74c3c; font-weight: bold;">{{ transaction.status|title }}</p>
                                                                            {% elif transaction.status == 'processing' %}
                                                                                <p class="text-info" style="color: #3498db; font-weight: bold;">{{ transaction.status|title }}</p>
                                                                            {% else %}
                                                                                <p class="text-muted" style="color: #bdc3c7; font-weight: bold;">{{ transaction.status|title }}</p>
                                                                            {% endif %}
                                                                        </p>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-7">
                                                                    <div class="right-area">
                                                                        <h6>{% translate "Transaction Details" %}</h6>
                                                                        <ul class="payment-details">
                                                                            <li>
                                                                                <span>{% translate "Payment Amount" %}</span>
                                                                                <span>{{transaction.amount|intcomma}} $</span>
                                                                            </li>
                                                                            
                                                                            <li>
                                                                                <span>{% translate "Total Amount" %}</span>
                                                                                <span>{{transaction.amount|intcomma}} $</span>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="payment-info">
                                                                            <li>
                                                                                <p>{% translate "Payment From" %}</p>
                                                                                <span class="mdr">{{transaction.reciever.kyc.full_name|title}}</span>
                                                                            </li>
                                                                            <li>
                                                                                <p>{% translate "Payment To" %}</p>
                                                                                <span class="mdr">{{transaction.sender.kyc.full_name|title}}</span>
                                                                            </li>
                                                                            <li>
                                                                                <p>{% translate "Payment Description" %}</p>
                                                                                <span class="mdr">{{transaction.description}}</span>
                                                                            </li>
                                                                            <li>
                                                                                <p>{% translate "Transaction ID" %}:</p>
                                                                                <span class="mdr">{{transaction.transaction_id}}</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
