{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}

    <!-- Banner Section start -->
    <section class="banner-section index">
        <div class="overlay">
            <div class="shape-area">
                <img src="{% static 'assets/images/banner-box.png' %}" class="obj-1" alt="image">
                <img src="{% static 'assets/images/banner-human.png' %}" class="obj-2" alt="image">
                <img src="{% static 'assets/images/banner-rocket.png' %}" class="obj-3" alt="image">
                <img src="{% static 'assets/images/banner-clock.png' %}" class="obj-4" alt="image">
            </div>
            <div class="banner-content">
                <div class="container wow fadeInUp">
                    <div class="content-shape">
                        <img src="{% static 'assets/images/banner-wallet.png' %}" class="obj-1" alt="image">
                    </div>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="main-content">
                                <div class="top-area section-text">
                                    <h5 class="sub-title">{% translate "Trusted by over 3M customers" %}</h5>
                                    <h1 class="title">{% translate "Pay Anyone, Anywhere" %}</h1>
                                    <p class="xlr">{% translate "Quickly and easily send, receive and request money online with Paylio. Get a customised solution to fit your business needs." %}</p>
                                </div>
                                <div class="bottom-area d-xxl-flex">
                                    {% if not request.user.is_authenticated %}
                                        <a href="{% url 'userauths:sign-out' %}" class="cmn-btn active">{% translate "Open a Free Account" %}</a>
                                    {% endif %}
                                    {% if company_data.see_how_it_Works %}
                                        <a class="cmn-btn active popup-video" href="{{ company_data.see_how_it_Works.url }}">{% translate "See How it Works" %}</a>
                                    {% else %}
                                        <p>Video not available</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-5 col-md-6">
                            <!-- <div class="send-money">
                                <form action="#">
                                    <div class="currency-area">
                                        <div class="left-side">
                                            <span class="mdr">You send</span>
                                            <input type="text" class="xlr" placeholder="Enter Amount" value="1000">
                                        </div>
                                        <div class="right-side">
                                            <select>
                                                <option value="1">USD</option>
                                                <option value="2">GBP</option>
                                                <option value="3">AUS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="calculation">
                                        <div class="head-area">
                                            <img src="{% static 'assets/images/icon/conversion.png' %}" alt="image">
                                            <span class="mdr highlight">Show calculation</span>
                                        </div>
                                        <div class="calculation-details">
                                            <div class="single-area d-flex align-items-center">
                                                <div class="left-area">
                                                    <i class="fas fa-minus"></i>
                                                    <span class="mdr">10.04 USD</span>
                                                </div>
                                                <div class="right-area">
                                                    <span class="mdr">Our fee</span>
                                                </div>
                                            </div>
                                            <div class="single-area d-flex align-items-center">
                                                <div class="left-area">
                                                    <i class="fas fa-equals"></i>
                                                    <span class="mdr">989.96 USD</span>
                                                </div>
                                                <div class="right-area">
                                                    <span class="mdr">We’ll Convert</span>
                                                </div>
                                            </div>
                                            <div class="single-area d-flex align-items-center">
                                                <div class="left-area">
                                                    <i class="fas fa-times"></i>
                                                    <span class="mdr">1.3947</span>
                                                </div>
                                                <div class="right-area">
                                                    <span class="mdr highlight">Paylio Rate</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="currency-area">
                                        <div class="left-side">
                                            <span class="mdr">Recipient gets</span>
                                            <h5>1,380.69</h5>
                                        </div>
                                        <div class="right-side recipient">
                                            <select>
                                                <option value="1">AUS</option>
                                                <option value="2">USD</option>
                                                <option value="3">GBP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="btn-area mt-40">
                                        <a href="javascript:void(0)" class="cmn-btn w-100">Get Started</a>
                                    </div>
                                </form>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="counter-section">
            <div class="container wow fadeInUp">
                <div class="row cus-mar">
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">{{home.supported_currencies}}</span><span>+</span></h2>
                                <p>{% translate "Supported Currencies" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">{{home.available_countries}}</span><span>+</span></h2>
                                <p>{% translate "Available Countries" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">{{home.payment_methods}}</span><span>+</span></h2>
                                <p>{% translate "Payment Methods" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">{{home.support_team_day}}</span><span>/</span><span class="counter">{{home.support_team_hour}}</span><span>+</span></h2>
                                <p>{% translate "Support Team" %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->

    <!-- Global Payment start -->
    <section class="global-payment">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h5 class="sub-title">{% translate "Send money in a heartbeat" %}</h5>
                            <h2 class="title">{% translate "The World At Your Fingertips" %}</h2>
                            <p>{% translate "Sign up to start saving on international money transfers and currency exchange." %}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-5 order-xl-0 order-1">
                        <div class="image-area d-rtl left-side">
                            {% if home.image %}
                                <img src="{{home.image.url}}" alt="images" class="max-un">
                            {% else %}
                                <img src="{% static 'assets/images/global-payment-img.png' %}" alt="images" class="max-un">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-7">
                        <div class="row cus-mar">
                            <div class="col-sm-6 col-6">
                                <div class="single-item">
                                    <img src="{% static 'assets/images/icon/global-payment-icon-1.png' %}" alt="icon">
                                    <h5>{% translate "Peace of Mind" %}</h5>
                                    <p>{{home.peace_of_mind}}.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-6">
                                <div class="single-item">
                                    <img src="{% static 'assets/images/icon/global-payment-icon-2.png' %}" alt="icon">
                                    <h5>{% translate "Business-Ready" %}</h5>
                                    <p>{{home.business_ready}}.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-6">
                                <div class="single-item">
                                    <img src="{% static 'assets/images/icon/global-payment-icon-3.png' %}" alt="icon">
                                    <h5>{% translate "100% Transparent" %}</h5>
                                    <p>{{home.transparent}}.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-6">
                                <div class="single-item">
                                    <img src="{% static 'assets/images/icon/global-payment-icon-4.png' %}" alt="icon">
                                    <h5>{% translate "International Network" %}</h5>
                                    <p>{{home.international_network}}.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Global Payment end -->

    <!-- Our Solutions start -->
    <section class="our-solutions">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header dark-sec text-center">
                            <h5 class="sub-title">{% translate "High speeds. Low fees. No hassle." %}</h5>
                            <h2 class="title">{% translate "All Your Payments In One Place" %}</h2>
                            <p>{% translate "Get used to low fees and great exchange rates on international money transfers.Expand your business worldwide" %}</p>
                        </div>
                    </div>
                </div>
                <div class="row cus-mar">
                    <div class="col-xl-3 col-6">
                        <div class="single-item">
                            <img src="{% static 'assets/images/icon/our-solutions-icon-1.png' %}" alt="icon">
                            <h5>{% translate "Payments" %}</h5>
                            <p>{{home.payments}}.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-6">
                        <div class="single-item">
                            <img src="{% static 'assets/images/icon/our-solutions-icon-2.png' %}" alt="icon">
                            <h5>{% translate "Collections" %}</h5>
                            <p>{{home.collections}}.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-6">
                        <div class="single-item">
                            <img src="{% static 'assets/images/icon/our-solutions-icon-3.png' %}" alt="icon">
                            <h5>{% translate "Conversions" %}</h5>
                            <p>{{home.conversions}}.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-6">
                        <div class="single-item">
                            <img src="{% static 'assets/images/icon/our-solutions-icon-4.png' %}" alt="icon">
                            <h5>{% translate "Global Account" %}</h5>
                            <p>{{home.global_account}}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Solutions end -->

    <!-- How it Works start -->
    <section class="how-it-works">
        <div class="overlay pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-header text-center">
                            <h5 class="sub-title">{% translate "How it works?" %}</h5>
                            <h2 class="title">{% translate "Just few steps to start" %}</h2>
                            <p>{% translate "It's easier than you think. Follow 3 simple easy steps" %}</p>
                        </div>
                    </div>
                </div>
                <div class="row cus-mar">
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item first text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-1.png' %}" alt="icon">
                            <h5>{% translate "Register for free" %}</h5>
                            <p>{{home.register_for_free}}.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item second text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-2.png' %}" alt="icon">
                            <h5>{% translate "Set up your transfer" %}</h5>
                            <p>{{home.set_up_your_transfer}}.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item first text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-3.png' %}" alt="icon">
                            <h5>{% translate "Make your payment" %}</h5>
                            <p>{{home.make_your_payment}}.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-4.png' %}" alt="icon">
                            <h5>{% translate "You're all done!" %}</h5>
                            <p>{{home.you_all_done}}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How it Works end -->

    <!-- App Download start -->
    <section class="app-download">
        <div class="overlay pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 order-lg-0 order-1">
                        <div class="image-area d-rtl left-side">
                            <img src="{% static 'assets/images/app-download-img.png' %}" alt="images" class="max-un">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="section-area">
                            <h5 class="sub-title">{% translate "App Download" %}</h5>
                            <h2 class="title">{% translate "Fast, Secure Money Transfers" %}</h2>
                            <p>{% translate "Access your account via your mobile phone. View balance, transfer funds, view transactions wherever you are." %}</p>
                        </div>
                        <ul class="features">
                            <li>
                                <img src="{% static 'assets/images/icon/check.png' %}" alt="icon">{% translate " Login with fingerprint or Face ID." %}
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icon/check.png' %}" alt="icon">{% translate " Simple few Taps to send money" %}
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icon/check.png' %}" alt="icon">{% translate " View transaction history." %}
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icon/check.png' %}" alt="icon">{% translate " Get instant App notifications." %}
                            </li>
                        </ul>
                        <div class="brand-area mt-40">
                            <a href="{{ company_data.android_app }}">
                                <img src="{% static 'assets/images/GooglePlay-btn.png' %}" alt="icon">
                            </a>
                            <a href="{{ company_data.ios_app }}">
                                <img src="{% static 'assets/images/apple-btn.png' %}" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- App Download end -->

    <!-- Testimonials start -->
    <!-- <section class="testimonials">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h5 class="sub-title">{% translate "Testimonials" %}</h5>
                            <h2 class="title">{% translate "What Our Customers Say" %}</h2>
                            <p>{% translate "245m+ happy clients all around the world. Do not just take our word for it" %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid wow fadeInUp">
                <div class="testimonials-carousel">
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/testimonials-img-1.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Aspen Press</h5>
                                    <p>Web Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/testimonials-img-2.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Courtney Henry</h5>
                                    <p>Balance Studio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/testimonials-img-3.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Paul Howell</h5>
                                    <p>President of Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/testimonials-img-2.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Courtney Henry</h5>
                                    <p>Balance Studio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- App Download end -->

    <!-- FAQs In start -->
    <section class="faqs-section">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-header text-center">
                            <h5 class="sub-title">{% translate "Frequently Asked Questions" %}</h5>
                            <h2 class="title">{% translate "If you got questions we have answer" %}</h2>
                            <p>{% translate "We have a list of frequently asked questions about us" %}</p>
                        </div>
                    </div>
                </div>
                <div class="row cus-mar">
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionLeft">
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftOne" aria-expanded="false" aria-controls="collapseLeftOne">
                                        {% translate "How to send money online?" %}
                                    </button>
                                </h6>
                                <div id="collapseLeftOne" class="accordion-collapse collapse" aria-labelledby="headingLeftOne" data-bs-parent="#accordionLeft">
                                    <div class="accordion-body">
                                        <p>{{company_data.how_to_send_money_online}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftTwo" aria-expanded="false" aria-controls="collapseLeftTwo">
                                        {% translate "How much are money transfer fees?" %}
                                    </button>
                                </h6>
                                <div id="collapseLeftTwo" class="accordion-collapse collapse" aria-labelledby="headingLeftTwo" data-bs-parent="#accordionLeft">
                                    <div class="accordion-body">
                                        <p>{{company_data.how_much_are_money_transfer_fees}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftThree" aria-expanded="false" aria-controls="collapseLeftThree">
                                        {% translate "What is the fastest way to send money abroad?" %}
                                    </button>
                                </h6>
                                <div id="collapseLeftThree" class="accordion-collapse collapse" aria-labelledby="headingLeftThree" data-bs-parent="#accordionLeft">
                                    <div class="accordion-body">
                                        <p>{{company_data.what_is_the_fastest_way_to_send_money_abroad}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftFour" aria-expanded="false" aria-controls="collapseLeftFour">
                                        {% translate "How to use Paylio?" %}
                                    </button>
                                </h6>
                                <div id="collapseLeftFour" class="accordion-collapse collapse" aria-labelledby="headingLeftFour" data-bs-parent="#accordionLeft">
                                    <div class="accordion-body">
                                        <p>{{company_data.how_to_use_app}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftFive" aria-expanded="false" aria-controls="collapseLeftFive">
                                        {% translate "How does Paylio protect your money?" %}
                                    </button>
                                </h6>
                                <div id="collapseLeftFive" class="accordion-collapse collapse" aria-labelledby="headingLeftFive" data-bs-parent="#accordionLeft">
                                    <div class="accordion-body">
                                        <p>{{company_data.how_does_Paylio_protect_your_money}}.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionRight">
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingRightOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightOne" aria-expanded="false" aria-controls="collapseRightOne">
                                        {% translate "Are money transfer apps safe?" %}
                                    </button>
                                </h6>
                                <div id="collapseRightOne" class="accordion-collapse collapse" aria-labelledby="headingRightOne" data-bs-parent="#accordionRight">
                                    <div class="accordion-body">
                                        <p>{{company_data.are_money_transfer_apps_safe}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingRightTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightTwo" aria-expanded="false" aria-controls="collapseRightTwo">
                                        {% translate "How much money can I send?" %}
                                    </button>
                                </h6>
                                <div id="collapseRightTwo" class="accordion-collapse collapse" aria-labelledby="headingRightTwo" data-bs-parent="#accordionRight">
                                    <div class="accordion-body">
                                        <p>{{company_data.how_much_money_can_i_send}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingRightThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightThree" aria-expanded="false" aria-controls="collapseRightThree">
                                        {% translate "Which currency can I send?" %}
                                    </button>
                                </h6>
                                <div id="collapseRightThree" class="accordion-collapse collapse" aria-labelledby="headingRightThree" data-bs-parent="#accordionRight">
                                    <div class="accordion-body">
                                        <p>{{company_data.which_currency_can_i_send}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingRightFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightFour" aria-expanded="false" aria-controls="collapseRightFour">
                                        {% translate "Cancel transaction" %}
                                    </button>
                                </h6>
                                <div id="collapseRightFour" class="accordion-collapse collapse" aria-labelledby="headingRightFour" data-bs-parent="#accordionRight">
                                    <div class="accordion-body">
                                        <p>{{company_data.Cancel_transaction}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingRightFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightFive" aria-expanded="false" aria-controls="collapseRightFive">
                                        {% translate "Can I send multiple payments?" %}
                                    </button>
                                </h6>
                                <div id="collapseRightFive" class="accordion-collapse collapse" aria-labelledby="headingRightFive" data-bs-parent="#accordionRight">
                                    <div class="accordion-body">
                                        <p>{{company_data.Can_i_send_multiple_payments}}.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQs In end -->
{% endblock content %}
